repositories:
  - name: stakater
    url: https://stakater.github.io/stakater-charts
  - name: external-secrets
    url: https://charts.external-secrets.io
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: jetstack
    url: https://charts.jetstack.io
  - name: devtron
    url: https://helm.devtron.ai
  - name: longhorn
    url: https://charts.longhorn.io
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/
  - name: argo
    url: https://argoproj.github.io/argo-helm
  - name: bitnami-labs
    url: https://bitnami-labs.github.io/sealed-secrets
  - name: headlamp
    url: https://kubernetes-sigs.github.io/headlamp/
  - name: traefik
    url: https://traefik.github.io/charts

releases:
  # Reloader - watches changes in ConfigMap and Secret and does rolling upgrades
  # ref: https://github.com/stakater/Reloader
  - name: reloader
    namespace: ops
    createNamespace: true
    chart: stakater/reloader

  # Metrics Server - metrics server for Kubernetes
  # ref: https://github.com/kubernetes-sigs/metrics-server
  - name: metrics-server
    namespace: kube-system
    createNamespace: true
    chart: metrics-server/metrics-server
    values:
      - args:
          - --kubelet-insecure-tls
          - --kubelet-preferred-address-types=InternalIP,Hostname,InternalDNS

    # version: v0.6.4  # uncomment to specify version 

  # External Secrets Operator - integrates external secret management systems
  # ref: https://external-secrets.io/
  - name: external-secrets
    namespace: ops
    createNamespace: true
    chart: external-secrets/external-secrets
    set:
      - name: installCRDs
        value: true

  # Kube Prometheus Stack - monitoring stack
  # ref: https://artifacthub.io/packages/helm/prometheus-community/kube-prometheus-stack
  # Fix: if helm install fails due to missing CRDs, run: kubectl apply --server-side -f https://github.com/prometheus-operator/prometheus-operator/releases/latest/download/stripped-down-crds.yaml
  - name: kube-prometheus-stack
    namespace: monitoring
    createNamespace: true
    chart: prometheus-community/kube-prometheus-stack

  # Cert Manager - certificate management
  # ref: https://cert-manager.io/docs/
  - name: cert-manager
    namespace: cert-manager
    createNamespace: true
    chart: jetstack/cert-manager
    disableValidation: true
    set:
      - name: crds.enabled
        value: true
    # version: v1.10.1  # uncomment to specify version

  # Devtron - GitOps platform
  # ref: https://docs.devtron.ai/
  - name: devtron
    namespace: devtroncd
    createNamespace: true
    chart: devtron/devtron-operator
    values:
      - installer:
          modules:
            - cicd
        argo-cd:
          enabled: true

  # Longhorn - distributed block storage for Kubernetes
  # ref: https://longhorn.io/
  - name: longhorn
    namespace: longhorn-system
    createNamespace: true
    chart: longhorn/longhorn
    # version: 1.3.2  # uncomment to specify version 

  # Argo CD
  # ref: https://artifacthub.io/packages/helm/argo/argo-cd
  - name: argo-cd
    namespace: argocd
    createNamespace: true
    chart: argo/argo-cd
    # version: 2.10.4  # uncomment to specify version
    values:
      - configs:
          params:
            server.insecure: true

  # Sealed Secrets
  # ref: https://artifacthub.io/packages/helm/bitnami-labs/sealed-secrets
  # - name: sealed-secrets
  #   namespace: kube-system
  #   createNamespace: true
  #   chart: bitnami-labs/sealed-secrets

  # Headlamp - Kubernetes UI
  # ref: https://artifacthub.io/packages/helm/headlamp/headlamp
  - name: headlamp
    namespace: kube-system
    createNamespace: true
    chart: headlamp/headlamp
    # version: 0.2.0  # uncomment to specify version

  # Envoy Gateway - Kubernetes-native API Gateway
  # ref: https://gateway.envoyproxy.io/
  - name: envoy-gateway
    namespace: envoy-gateway
    createNamespace: true
    chart: oci://docker.io/envoyproxy/gateway-helm
    version: v0.0.0-latest
    disableValidation: true
    hooks:
      - events: ["postsync"]
        command: "bash"
        args:
          - "-c"
          - |
            kubectl apply -f https://github.com/envoyproxy/gateway/releases/download/latest/quickstart.yaml -n default
        showlogs: true

  # Traefik - Modern HTTP reverse proxy and load balancer
  # ref: https://doc.traefik.io/traefik/
  - name: traefik
    namespace: traefik
    createNamespace: true
    chart: traefik/traefik
    # version: 23.0.0  # uncomment to specify version

  # NGINX Ingress Controller (Open Source)
  # ref: https://docs.nginx.com/nginx-ingress-controller/install/helm/open-source/
  - name: nginx-ingress
    namespace: nginx-ingress
    createNamespace: true
    chart: oci://ghcr.io/nginx/charts/nginx-ingress
    version: 2.4.1
    disableValidation: true
